<div class="grid catalog">
  {% if current_tags contains 'M49' or current_tags contains 'm49' %}
    <div class="grid__item large--whole m49__banner">
      <h2>{{ settings.collection_m49_banner_header }}</h2>
      <p>{{ settings.collection_m49_banner_text }}</p>
    </div>
  {% endif %}

  {% include 'sidebar' %}
  <div class="catalog-content grid__item large--four-fifths">
    {% if template == 'list-collections' %}
      {% for link in linklists.collections.links %}
        {% assign collection = link.object %}
        {% assign limit = 20 %}
        {% include 'collection' with collection: collection %}
        <div class="collection-footer">
          <a href="{{ collection.url }}/" class="btn">See more +</a>
        </div>
      {% endfor %}
    {% else %}
      <div class="collection-actionable">
        <a href="/collections/" class="btn back-button">&#8592; Back to Catalog</a>
      </div>
      {% if current_tags != blank %}
        <div class="collection-actionable">
          {% if collection.handle == 'all' %}
            <a href="/collections" class="btn">&times;&ensp;Clear Filters</a>
          {% else %}
            <a href="/collections/{{ collection.handle }}" class="btn">&times;&ensp;Clear Filters</a>
          {% endif %}
        </div>
          {% for tag in current_tags %}
            <h4 class="catalog__tags--active">
              {{ tag }}
              {% if collection.handle == 'all' %}
                <a href="/collections" class="catalog__tags--close">
                  <!-- <svg viewBox="0 -9 40 40">
                    <path class="close-x" d="M 10,10 L 30,30 M 30,10 L 10,30"></path>
                  </svg> -->

                  &times;

                  <!--[if IE]>
                    &times;
                  <![endif]-->
                </a>
              {% else %}
                {% capture new_tags %}
                  {% for _tag in current_tags %}
                    {% unless _tag == tag %}
                      +{{ _tag | handleize }}
                    {% endunless %}
                  {% endfor %}
                {% endcapture %}
                {% assign new_tags = new_tags | remove_first: "+" | replace: " ", "" | strip_newlines %}
                <a href="{{ new_tags }}" class="catalog__tags--close">
                  <svg viewBox="0 -9 40 40">
                    <path class="close-x" d="M 10,10 L 30,30 M 30,10 L 10,30"></path>
                  </svg>
                </a>
              {% endif %}
            </h4>
          {% endfor %}
      {% endif %}
      {% for type in collection.all_types %}
        {% assign handle = type | handleize %}
        {% assign collection = collections[handle] %}
        {% if collection.products.size > 0 %}
          {% include 'collection' %}
        {% endif %}
      {% endfor %}
      <div class="collection-footer">
        <!-- <a href="/collections/all/{{ current_tags | join: "+"}}" class="btn back-button">&#8592; Back to Catalog</a> -->
        <a href="/collections/" class="btn back-button">&#8592; Back to Catalog</a>
      </div>
    {% endif %}
  </div>
</div>
