<div class="grid catalog">
  {% if current_tags contains 'M49' or current_tags contains 'm49' %}
    <h2>M49</h2>
    {% comment %}
      # Leaving this here in case this changes back
      {{ 'collection_m49_banner.jpg' | asset_url | img_tag }}
    {% endcomment %}
  {% endif %}

  {% include 'sidebar' %}
  <div class="catalog-content grid__item large--four-fifths">
    {% if template == 'list-collections' %}
      {% for link in linklists.collections.links %}
        {% assign collection = link.object %}
        {% assign limit = 20 %}
        {% include 'collection' with collection: collection %}
        <div class="collection-footer">
          <a href="{{ collection.url }}/" class="btn">See more +</a>
        </div>
      {% endfor %}
    {% else %}
      <div class="collection-actionable">
        <a href="/collections/all/{{ current_tags | join: "+"}}" class="btn back-button">&#8592; Back to Catalog</a>
      </div>
      {% if current_tags != blank %}
        <div class="collection-actionable">
          {% if collection.handle == 'all' %}
            <a href="/collections" class="btn">&times;&ensp;Clear Filters</a>
          {% else %}
            <a href="/collections/{{ collection.handle }}" class="btn">&times;&ensp;Clear Filters</a>
          {% endif %}
        </div>
        <h4>
          {% for tag in current_tags %}
            {% assign tag_words = tag | split: " " %}
            {% for word in tag_words %}
              {{ word | capitalize }}
            {% endfor %}
            {% unless forloop.last %}|{% endunless %}
          {% endfor %}
        </h4>
      {% endif %}
      {% for type in collection.all_types %}
        {% assign handle = type | handleize %}
        {% assign collection = collections[handle] %}
        {% if collection.products.size > 0 %}
          {% include 'collection' %}
        {% endif %}
      {% endfor %}
      <div class="collection-footer">
        <a href="/collections/all/{{ current_tags | join: "+"}}" class="btn back-button">&#8592; Back to Catalog</a>
      </div>
    {% endif %}
  </div>
</div>
