<div class="collection">
  {% if current_tags == blank %}
    <h2>{{ collection.title }}</h2>
  {% else %}
    <div class="collection-actionable">
      <a href="/collections/all" class="btn">x Clear Filters</a>
    </div>
    <h2>
      {% for tag in current_tags %}
        {{ tag | capitalize }}
        {% unless forloop.last %}|{% endunless %}
      {% endfor %}
    </h2>
  {% endif %}

  {% if collection.products == blank %}
    <p>{{ 'collections.general.no_matches' | t }}</p>
  {% else %}
    <section class="collection-products">
      {% for product in collection.products limit: limit %}
        <a href="{{ product.url }}">
          <!-- <img src="{{ product.featured_image | img_url: "small" }}" alt=""> -->
          <img src="{% if product.images.size > 0 %}{{ product.featured_image | img_url: "small" }}{% else %}{{ 'no-image-compact.png' | asset_url }}{% endif %}" alt="{{ product.title | escape }}" />
        </a>
      {% endfor %}
    </section>
  {% endif %}
</div>
