{% assign image_count = product.images.size %}
<div class="product-images">
  <div class="front-view-image" data-image-count="{{ image_count }}">
    <section class="front-view-container">
      <figure class="product-card">
        <span class="color-code">{{ product.title }}</span>
        <img src="{% if image_count > 0 %}{{ product.featured_image | img_url: "grande" }}{% else %}{{ 'no-image-compact.png' | asset_url }}{% endif %}" alt="{{ product.title | escape }}" />
      </figure>
    </section>
    <footer>
      <span class="image-view-title">Frontal view
      <!-- <br>
        {{ 'icon_front.png' | asset_url | img_tag }} -->
      </span>
    </footer>
  </div>
  <div class="stacked-images">
    <section class="stacked-container">
      {% for image in product.images reversed %}
        {% if forloop.index != 1 and forloop.index != product.images.size %}
          <figure class="product-card" data-image-count="{{ image_count }}">
            <img src="{% if image_count > 0 %}{{ image.src | img_url: 'large' }}{% else %}{{ 'no-image-compact.png' | asset_url }}{% endif %}" alt="{{ product.title | escape }}" />
          </figure>
        {% endif %}
      {% endfor %}
    </section>
    <footer>
      <span class="image-view-title">Split layer view</span>
    </footer>
  </div>
  <!-- SINGLE IMAGE CASES -->
  {% if image_count == 1 %}
    <div class="side-view-images">
      <section class="side-view-container">
        <figure>
          <img src="{% if image_count > 0 %}{{ product.featured_image | img_url: "grande" }}{% else %}{{ 'no-image-compact.png' | asset_url }}{% endif %}" alt="{{ product.title | escape }}" />
        </figure>
      </section>
      <footer>
        <span class="image-view-title">Side view
          <!-- <br>
        {{ 'icon_side.png' | asset_url | img_tag }} -->
        </span>
      </footer>
    </div>
  {% endif %}
  <!-- TWO IMAGE CASES -->
  {% if image_count == 2 %}
    <div class="side-view-images" data-image-count="{{ image_count }}">
      <section class="side-view-container">
        <figure>
          {{ product.images.last | img_url: "grande" | img_tag }}
        </figure>
      </section>
      <footer>
        <span class="image-view-title">Side view
          <!-- <br>
        {{ 'icon_side.png' | asset_url | img_tag }} -->
      </span>
      </footer>
    </div>
  {% endif %}
  <!-- THREE OR MORE IMAGE CASES -->
  {% if image_count > 2 %}
    <div class="side-view-images" data-image-count="{{ image_count }}">
      <section class="side-view-container">
        {% for image in product.images %}
          {% if forloop.index != 1 and forloop.index != product.images.size %}
            <figure>
              <img src="{% if image_count > 0 %}{{ image.src | img_url: 'large' }}{% else %}{{ 'no-image-compact.png' | asset_url }}{% endif %}" alt="{{ product.title | escape }}" />
            </figure>
          {% endif %}
        {% endfor %}
      </section>
      <footer>
        <span class="image-view-title">Side view
          <!-- <br>
        {{ 'icon_side.png' | asset_url | img_tag }} -->
      </span>
      </footer>
    </div>
  {% endif %}
  <div class="back-view-image" data-image-count="{{ image_count }}">
    <section class="back-view-container">
      <figure class="product-card">
        {{ product.images.last | img_url: "grande" | img_tag }}
      </figure>
    </section>
    <footer>
      <span class="image-view-title">Back view</span>
    </footer>
  </div>
  {% if image_count > 2 %}
    <div class="toggle-views">
      <span class="image-view-title switch-image-view active" data-direction="back">See back
        <!-- <br>
      {{ 'icon_back.png' | asset_url | img_tag }} -->
    </span>
      <span class="image-view-title switch-image-view" data-direction="front">See front
        <!-- <br>
      {{ 'icon_front.png' | asset_url | img_tag }} -->
    </span>
    </div>
  {% endif %}
</div>
{% if image_count > 2 %}
  <script type="text/javascript">
    (function stack_images() {
      var zoomed = false;

      // Since we're using 100% CSS heights, we need to implicitly define
      // the height of the container for product images.
      function set_stack_height() {
        var stack_height = $('.stacked-images').outerHeight();
        $('.product-images').css('height', stack_height + "px");

        // Google Chrome doesn't fix scaling issues when setting container height,
        // so we have to force a repaint. Without this the images disort even
        // though they shoudln't in Chrome.
        if (zoomed) {
          document.body.style.zoom = zoom = 1.0000000;
          zoomed = false;
        } else {
          document.body.style.zoom = zoom = 1.0000001;
          zoomed = true;
        }
      }

      // After images load, fire resize
      var loaded_images = [];
      $stack_images = $('.stacked-images img');

      $stack_images.load(function() {
        loaded_images.push(this);
        if (loaded_images.length >= $stack_images.length) {
          set_stack_height();
        }
      }).each(function() {
        // In case of image cached
        if (this.complete) {
          $(this).load();
        }
      });

      // On window resize, set stack height again
      $(window).resize(set_stack_height);

    })();
  </script>
{% endif %}
<script type="text/javascript">
  // Toggle front and back switches
  var $product_images = $('.product-images');

  $('.switch-image-view').click(function() {
    var direction = $(this).attr('data-direction');

    $product_images.attr('data-direction', direction);
    $('.switch-image-view').addClass('active');
    $(this).removeClass('active');
  });
</script>
