{% assign image_count = product.images.size %}
<div class="product-images">
  <div class="stacked-images">
    {% for image in product.images reversed %}
      <img data-image-count="{{ image_count }}" src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}" data-image-id="{{ image.id }}">
    {% endfor %}
  </div>
  <div class="side-view-images" data-image-count="{{ image_count }}">
    {% for image in product.images %}
      <figure>
        <img src="{{ image.src | img_url: 'grande' }}">
      </figure>
    {% endfor %}
  </div>
</div>
<script type="text/javascript">
  (function($) {
    function set_stack_height() {
      var stack_height = $('.stacked-images').outerHeight();
      $('.product-images').height(stack_height);
    }
    
    set_stack_height();
    $(window).resize(set_stack_height);
  })(jQuery);
</script>
