{% if collection %}
  {% assign collection_handle = collection.handle %}
{% else %}
  {% assign collection_handle = "all" %}
{% endif %}
<aside class="grid__item large--one-fifth">
  <form class="filters m49" action="/collections/{{collection_handle}}">
    <div class="check-buttons">
      <!-- <input type="checkbox" id="classical" name="classical">
      <label for="classical">Classical</label> -->
      <input type="checkbox" id="m49" name="m49">
      <label class="btn__m49" for="m49">Be Green</label>
    </div>
  </form>
  <ul class="sidemenu-list">
    {% for link in linklists.collections.links %}
      <li>
        <a href="{{ link.url }}/{{ current_tags | join: "+"}}" class="{% if link.active %}active{% endif %}">{{ link.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <form class="filters" action="/collections/{{collection_handle}}">
    <h2>Filters</h2>
    <ul>
      <li>
        <a class="filter" href="/collections/all/new">Latest Arrivals</a>
      </li>
      {% for filter in (1..5) %}
        {% assign filter_name = "filter_" | append: filter | append: "_name" %}
        {% unless settings[filter_name] == blank %}
          <li>
            <span class="filter">{{ settings[filter_name] }}</span>
            <section>
              {% for option in (1..20) %}
                {% assign option_field = "filter_" | append: filter | append: "_option_" | append: option %}
                {% unless settings[option_field] == blank %}
                  <div class="btn__filter">
                    <label>
                      <input type="checkbox" name="{{ settings[option_field] | handleize }}">
                      <span></span>
                      {{ settings[option_field] }}
                    </label>
                  </div>
                {% endunless %}
              {% endfor %}
            </section>
          </li>
        {% endunless %}
      {% endfor %}
      <li class="filter-by-color">
        <span class="filter">Color</span>
        <section>
          <input type="checkbox" name="black">
          <input type="checkbox" name="white">
          <input type="checkbox" name="brown">
          <input type="checkbox" name="blue">
          <input type="checkbox" name="red">
          <input type="checkbox" name="green">
          <input type="checkbox" name="purple">
          <input type="checkbox" name="yellow">
          <input type="checkbox" name="pink">
          <input type="checkbox" name="gold">
          <input type="checkbox" name="silver">
          <input type="checkbox" name="ivory">
          <input type="checkbox" name="light-blue">
          <input type="checkbox" name="orange">
          <input type="checkbox" name="crystal">
        </section>
      </li>
    </ul>
  </form>
</aside>
<script type="text/javascript">
  Shopify.current_tags = [
    {% for tag in current_tags %}
      {% unless forloop.first %},{% endunless %}
      "{{ tag | handleize }}"
    {% endfor %}
  ];
</script>
