<aside class="grid__item large--one-fifth">
  <h2><a href="/collections">Categories</a></h2>
  <ul>
    {% for link in linklists.collections.links %}
      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
  {% if collection %}
    {% assign collection_handle = collection.handle %}
  {% else %}
    {% assign collection_handle = "all" %}
  {% endif %}
  <form class="filters" action="/collections/{{collection_handle}}">
    <h2>Filters</h2>
    <ul>
      {% for filter in (1..5) %}
        {% assign filter_name = "filter_" | append: filter | append: "_name" %}
        {% unless settings[filter_name] == blank %}
          <li>
            <span class="filter">{{ settings[filter_name] }}</span>
            <section>
              {% for option in (1..10) %}
                {% assign option_field = "filter_" | append: filter | append: "_option_" | append: option %}
                {% unless settings[option_field] == blank %}
                  <label>
                    <input type="checkbox" name="{{ settings[option_field] }}">
                    {{ settings[option_field] }}
                  </label>
                {% endunless %}
              {% endfor %}
            </section>
          </li>
        {% endunless %}
      {% endfor %}
      <li class="filter-by-color">
        <span class="filter">Color</span>
        <section>
          <input type="checkbox" name="red">
          <input type="checkbox" name="blue">
        </section>
      </li>
      <li>
        <a class="filter" href="/collections/all/new">Latest Arrivals</a>
      </li>
    </ul>
  </form>
</aside>
<script type="text/javascript">
  Shopify.current_tags = {{ current_tags | json }};
</script>