<!-- /templates/blog.liquid -->
<div class="grid archives">
  <div class="grid__item large--one-quarter">
    <h3>Filters</h3>
    <ul>
      <li><a href="/blogs/{{ blog.handle }}">All</a></li>
      {% for tag in blog.all_tags %}
        <li><a href="/blogs/{{ blog.handle }}/tagged/{{tag}}">{{ tag | capitalized }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% if current_tags == blank %}
    <div class="grid__item large--three-quarters archive-tags">
      {% for tag in blog.all_tags %}
        <div class="category">
          <h1>{{ tag }}</h1>
          <div class="grid" data-category-tag="{{ tag }}"></div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    {% paginate blog.articles by 50 %}
      <div class="grid__item large--three-quarters">
        <h1>{{ current_tags | join: "," }}</h1>
        <div class="grid">
          {% for article in blog.articles %}
            <div class="grid__item article large--one-third">
              {{ article.image | img_url: "medium" | img_tag }}
              <h3><a href="{{ article.url }}"><strong>{{ article.title }}</strong></a></h3>
              <p>{{ article.excerpt | strip_html | truncate: "100" }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
      {% if paginate.pages > 1 %}
        <div class="pagination">
          {{ paginate | default_pagination | replace: '&laquo; Previous', '<span class="icon icon-arrow-left" aria-hidden="true"></span>' | replace: 'Next &raquo;', '<span class="icon icon-arrow-right" aria-hidden="true"></span>' }}
        </div>
      {% endif %}
    {% endpaginate %}
  
  {% endif %}

</div>

<script id="article-grid" type="template/mustache">
  {% raw %}
    {{#articles}}
      <div class="grid__item article large--one-third">
        <img src="{{thumb}}" alt="{{title}}">
        <h3><a href="/blogs/archived/{{id}}"><strong>{{ title }}</strong></a></h3>
        <p>{{summary}}</p>
      </div>
    {{/articles}}
    <footer class="grid__item text-center">
      <a href="/blogs/archived/tagged/{{tag}}" class="btn">See More +</a>
    </footer>
  {% endraw %}
</script>
{% if current_tags == blank %}
  <script type="text/javascript">
    // Just so we know we have mustache
    Relatable.ready(function() {
      var template = $('#article-grid').html();
      
      $('[data-category-tag]').each(function() {
        var self = $(this),
            tag = $(this).data('category-tag'),
            path = '/blogs/archived/tagged/' + tag + '?view=json';
        
        $.getJSON(path, function(blog) {
          for (var i=0; i < blog.articles.length; i++) {
            // Set thumb image
            if (blog.articles[i].image) {
              var image = new Relatable.image(blog.articles[i].image.src, true);
              blog.articles[i].thumb = image.resized("medium");
            }
            
            // Strip summary
            var summary = $.parseHTML(blog.articles[i].summary_html);
            blog.articles[i].summary = $(summary).text().slice(0, 100);
          };
          
          // Set tag
          blog.tag = tag;
          
          var output = Mustache.render(template, blog);
          
          self.html($.parseHTML(output));
        })
      });
    });
  </script>
{% endif %}