<!-- /templates/blog.liquid -->
{% paginate blog.articles by 4 %}

<div class="grid lookbook">

  <!-- Fixed Sidebar -->
  <aside class="lookbook__list__wrapper">
    <div class="lookbook__list">
    </div>
  </aside>

    <!-- <header class="section-header text-center">
      <h1>
        {% if current_tags %}
          {{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}
        {% else %}
          {{ blog.title }}
        {% endif %}
      </h1>
    </header> -->

    <div class="grid__item large--whole lookbook__content">
      {% for article in blog.articles %}

        {% assign article_content = article.excerpt_or_content %}
        {% assign featured_image_src = '' %}
        {% assign article.id = article.id %}

        {% if article.image %}
          {% assign featured_image_src = article | img_url: 'master' %}
        {% elsif article_content contains '<img' %}
          {% assign featured_image_src = article_content | split: 'src="' %}
          {% assign featured_image_src = featured_image_src[1] | split: '"' | first %}
        {% endif %}

        <div class="lookbook__macrotrend--image__wrapper">
          <div class="lookbook__macrotrend--image__wrapper--crop-bottom">
            <img src="{{ article.image | img_url: "1024x1024" }}" alt="" class="lookbook__macrotrend--image">
          </div>
        </div>

        <!-- Lookbook Article List -->
        <div class="grid__item  push--large--one-eighth large--three-quarters lookbook__articles">

        <article class="grid lookbook__macrotrend" id="{{ article.id }}" data-id="{{ article.id }}">

            <h2 class="lookbook__microtrend--title">
              <!-- <a href="{{ article.url }}"></a> -->
              {{ article.title }}
            </h2>

          {% unless featured_image_src == blank %}
            <div class="grid__item push--large--one-eighth large--three-quarters lookbook__macrotrend--content">
              <div class="rte rte--indented-images">
                {{ article_content }}
              </div>
            </div>
            <div class="grid__item">
              <div class="microtrends grid-uniform"></div>
            </div>
          {% endunless %}
        </article>
        </div>

        {% unless forloop.last %}<hr class="hr--clear">{% endunless %}

      {% endfor %}
      <div class="grid__item text-center push--large--one-eighth large--three-quarters lookbook__articles lookbook__archive__link">
        <h2 class="lookbook__microtrend--title">Archive</h2>
        <a href="/blogs/archived" class="btn">View Archive</a>
      </div>
    </div>

    {% if paginate.pages > 1 %}
      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '<span class="icon icon-arrow-left" aria-hidden="true"></span>' | replace: 'Next &raquo;', '<span class="icon icon-arrow-right" aria-hidden="true"></span>' }}
      </div>
    {% endif %}

</div>

{% endpaginate %}

<div id="the_archives">
  {% for article in blogs[blog.handle].articles limit: 10 offset:4 %}
  <li>{{ article.title | link_to: article.url }}</li>
{% endfor %}
</div>

<script type="template/mustache" id="microtrends">
  {% raw %}
    {{#articles}}
      <div class="microtrend grid__item one-whole" data-id="{{id}}">
        <div class="grid">
          <div class="microtrend grid__item large--two-thirds medium--two-thirds small--one-half" data-id="{{id}}">
            <h3 class="microtrend--title">{{title}}</h3>
          </div>
          <div class="grid__item large--one-third medium--one-third small--one-half lookbook__PDF">
              <a href="{{attachment}}" type="print" name="print" class="btn">Download the PDF</a>
          </div>
          <div class="grid__item one-whole">
            <div class="images">
              <div>
                <img src="{{#img_url.1024x1024}}{{image.src}}{{/img_url.1024x1024}}" alt="" class="lookbook__microtrend__img">
              </div>
              {{#images}}
                <div><img src="{{.}}" alt=""></div>
              {{/images}}
            </div>
            <div class="materials lookbook__microtrend__materials"></div>
          </div>
        </div>
      </div>
    {{/articles}}
  {% endraw %}
</script>


<script type="template/mustache" id="materials">
  {% raw %}
    {{#products}}
        <a href="/products/{{handle}}">
        <figure class="product-card">
          {{#image}}
            <img src="{{#img_url.medium}}{{image.src}}{{/img_url.medium}}" alt="{{title}} Mazzucchelli1849">
          {{/image}}
          {{^image}}
            {% endraw %}{{ "no-image-compact.png" | asset_url | img_tag }}{% raw %}
          {{/image}}
        </figure>
        </a>
    {{/products}}
  {% endraw %}
</script>
<!-- <h4 class="material--title"><a href="/products/{{handle}}">{{title}}</a></h4> -->
<script type="text/javascript">
  Shopify.article_ids = "{{ blog.articles | map: "id" | join: "," }}";
</script>
{{ 'article.js' | asset_url | script_tag }}
