<!-- /templates/blog.liquid -->
{% paginate blog.articles by 4 %}

<div class="grid lookbook">

  <!-- Fixed Sidebar -->
  <aside class="grid__item large--one-eighth lookbook__list">
    <!-- <ul class="lookbook__list">
      {% for article in blog.articles %}
        <li class="lookbook__list-item">
          <a href="#{{ article.id }}">{{ article.title }}</a>
        </li>
      {% endfor %}
    </ul> -->
  </aside>
  <div class="grid__item large--three-quarters lookbook__articles">

    <!-- <header class="section-header text-center">
      <h1>
        {% if current_tags %}
          {{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}
        {% else %}
          {{ blog.title }}
        {% endif %}
      </h1>
    </header> -->
    {% for article in blog.articles %}

      {% assign article_content = article.excerpt_or_content %}
      {% assign featured_image_src = '' %}
      {% assign article.id = article.id %}

      {% if article.image %}
        {% assign featured_image_src = article | img_url: '1024x1024' %}
      {% elsif article_content contains '<img' %}
        {% assign featured_image_src = article_content | split: 'src="' %}
        {% assign featured_image_src = featured_image_src[1] | split: '"' | first %}
      {% endif %}

      <!-- Lookbook Article List -->
      <article class="grid" id="{{ article.id }}">

        <div class="grid__item large--two-thirds medium--two-thirds small--one-third">
          <h3 class="lookbook__microtrend--title">
            <!-- <a href="{{ article.url }}"></a> -->
            {{ article.title }}
          </h3>

          <!-- TAGS -->
          <!-- {% if article.tags.size > 0 %}
            <ul class="tags tags--article inline-list">
              {% include 'tags-article' %}
            </ul>
          {% endif %} -->
        </div>
        <div class="grid__item large--one-third medium--one-third small--two-thirds">
          <div class="grid">
              <div class="grid__item one-half">
                {% if settings.social_sharing_products %}
                  {% include 'social-sharing' %}
                {% endif %}
              </div>
              <div class="grid__item one-half">
                <button type="print" name="print" class="btn">Print</button>
              </div>
          </div>
        </div>

        {% unless featured_image_src == blank %}
          <div class="grid__item">
            <div class="grid">
              <div class="grid__item">
                <img src="{{ article.image | img_url: "1024x1024" }}" alt="">
                <div class="rte rte--indented-images">
                  {{ article_content }}
                </div>
              </div>
              <div class="grid__item">
                <div data-relatable-kind="article" data-relatable-id="{{article.id}}" data-related-kind="product" class="grid">
                  {% raw %}
                    {{#.}}
                      <a href="/products/{{handle}}" class="lookbook-product grid__item large--one-eighth medium--one-third small--one-quarter">
                        <img src="{{#img_url.medium}}{{{image.src}}}{{/img_url.medium}}" alt="">
                        <h4 class="lookbook-product__title">
                          {{title}}
                        </h4>
                      </a>
                    {{/.}}
                  {% endraw %}
                </div>
              </div>
            </div>
          </div>
        {% endunless %}
      </article>


      {% unless forloop.last %}<hr class="hr--clear">{% endunless %}

    {% endfor %}

    {% if paginate.pages > 1 %}
      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '<span class="icon icon-arrow-left" aria-hidden="true"></span>' | replace: 'Next &raquo;', '<span class="icon icon-arrow-right" aria-hidden="true"></span>' }}
      </div>
    {% endif %}

  </div>
</div>

{% endpaginate %}

<div id="the_archives">
  {% for article in blogs[blog.handle].articles limit: 10 offset:4 %}
  <li>{{ article.title | link_to: article.url }}</li>
{% endfor %}
</div>
