{% if section_number > 1 and number_of_index_sections > 1 %}
  <hr class="hr--medium hr--clear">
{% endif %}

{% comment %}
  Set hero as enabled so JS is loaded at end of index.liquid.
  Also set variables to control JS settings and appearance.
{% endcomment %}
{% assign hero_enabled = true %}
{% assign hero_full_height = true %}
{% assign hero_full_width = true %}
{% assign hero_parallax = true %}
{% assign hero_first_on_page = true %}

{% comment %}
  If hero is first section on homepage, add class that sets
  negative top-margin for alignment and force full height.
{% endcomment %}
{% if section_number == 1 %}
  {% assign hero_first_on_page = true %}
  {% assign hero_full_height = true %}
{% endif %}

<!-- Hero is full width, so close .wrapper -->
{% if hero_full_width %}
  </div>
{% endif %}

  <div class="heritage hero{% if hero_full_height %} hero--full-height{% endif %}{% if hero_first_on_page %} hero--first{% endif %}" id="Hero"{% if hero_full_height %} data-fullscreen="true"{% endif %}{% if hero_parallax %}data-parallax="true"{% endif %}>
      {% capture slide %}heritage_enable{% endcapture %}
      {% capture slide_img %}heritage_cover.jpg{% endcapture %}
      {% capture slide_text_color %}heritage_text_color{% endcapture %}
      {% capture slide_heading %}heritage_heading{% endcapture %}
      {% capture slide_subheading %}heritage_subheading{% endcapture %}
      {% if settings[slide] %}
        <div class="hero__slide">
          {% if hero_full_height %}
            {% comment %}
              Full-screen styles use CSS background images
            {% endcomment %}
            <div class="hero__image" style="background-image: url('{{ slide_img | asset_url }}');" data-image="{{ slide_img | asset_url }}"></div>
          {% else %}
            <div class="hero__image">
              <img src="{{ slide_img | asset_url }}" alt="{{ settings[slide_heading] }}">
            </div>
          {% endif %}
          <div class="hero__text-wrap">
            <div class="hero__text-align">
              <div class="hero__text-content">
                {% unless settings[slide_subheading] == blank %}
                  <p class="hero__subtitle">
                    {{ settings[slide_subheading] }}
                  </p>
                {% endunless %}
                {% unless settings[slide_heading] == blank %}
                  <h1 class="hero__title">
                    {{ settings[slide_heading] }}
                  </h1>
                {% endunless %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
  </div>

<div class="wrapper">
  <!-- /templates/page.liquid -->
  <div class="grid">
    <div class="grid__item large--five-sixths push--large--one-twelfth">

      <!-- <header class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </header> -->

      <div class="grid">
        <div class="grid__item large--four-fifths push--large--one-tenth">
          <div class="rte rte--nomargin rte--indented-images">
            {{ page.content }}
          </div>
        </div>
      </div>

    </div>
  </div>
