<!-- /templates/page.contact.liquid -->
<div class="grid contact">

  <div class="grid__item large--five-sixths push--large--one-twelfth">

    <header class="section-header text-center">
      <h1>{{ page.title }}</h1>
    </header>

    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          {{ page.content }}
        </div>

        <div class="rte rte--nomargin">
          <ul class="contact__documents no-bullets">
            <li>
              {% unless settings.contact_document_title-1 == blank %}
                <h4><a href="http://{{ settings.contact_document_link-1 }}"> {{ settings.contact_document_title-1 }}</a></h4>
              {% endunless %}
            </li>
            <li>
              {% unless settings.contact_document_title-2 == blank %}
                <h4><a href="http://{{ settings.contact_document_link-2 }}"> {{ settings.contact_document_title-2 }}</a></h4>
              {% endunless %}
            </li>
            <li>
              {% unless settings.contact_document_title-3 == blank %}
                <h4><a href="http://{{ settings.contact_document_link-3 }}"> {{ settings.contact_document_title-3 }}</a></h4>
              {% endunless %}
            </li>
            <li>
              {% unless settings.contact_document_title-4 == blank %}
                <h4><a href="http://{{ settings.contact_document_link-4 }}"> {{ settings.contact_document_title-4 }}</a></h4>
              {% endunless %}
            </li>
            <li>
              {% unless settings.contact_document_title-5 == blank %}
                <h4><a href="http://{{ settings.contact_document_link-5 }}"> {{ settings.contact_document_title-5 }}</a></h4>
              {% endunless %}
            </li>
            <li>
              {% unless settings.contact_document_title-6 == blank %}
                <h4><a href="http://{{ settings.contact_document_link-6 }}"> {{ settings.contact_document_title-6 }}</a></h4>
              {% endunless %}
            </li>
          </ul>
          <!-- FOR LOOP VERSION / NOT WORKING -->
          <!-- {% for i in (1..6) %}
            {% unless settings.contact_document_title-[i] == blank %}
              <h4>{{ settings.contact_document_title-[i] }}</h4>
            {% endunless %}
            {% unless settings.contact_document_link-[i] == blank %}
              <p>{{ settings.contact_document_link-[i] }}</p>
            {% endunless %} -->

            <!-- <script type="text/javascript">
              var l = "settings.contact_document_title-{{ i }}"
              console.log(l)
            </script> -->
          <!-- {% endfor %} -->
        </div>

        <div class="form-vertical">
          {% form 'contact' %}

            {% comment %}
              Successful message
            {% endcomment %}
            {% if form.posted_successfully? %}
              <p class="note form-success">
                {{ 'contact.form.post_success' | t }}
              </p>
            {% endif %}

            {{ form.errors | default_errors }}

            <div class="grid grid--small">
              <div class="grid__item large--one-half">
                <label for="ContactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
                <input type="text" id="ContactFormName" class="input-full" name="contact[name]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
              </div>

              <div class="grid__item large--one-half">
                <label for="ContactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
                <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
              </div>
            </div>

            <label for="ContactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
            <input type="tel" id="ContactFormPhone" class="input-full" name="contact[phone]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">

            <label for="ContactFormMessage" class="hidden-label">{{ 'contact.form.message' | t }}</label>
            <textarea rows="10" id="ContactFormMessage" class="input-full" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

            <input type="submit" class="btn right" value="{{ 'contact.form.send' | t }}">

          {% endform %}
        </div>
      </div>
    </div>

  </div>

</div>
