<!-- /templates/page.contact.liquid -->
<div class="grid contact">

  <div class="grid__item large--five-sixths push--large--one-twelfth">

    <header class="section-header text-center">
      <h1>{{ page.title }}</h1>
    </header>

    <div class="grid">
      <div class="grid__item large--five-sixths push--large--one-twelfth">
        <div class="rte rte--nomargin rte--indented-images">
          {{ page.content }}
        </div>
        <div class="form-vertical">
          <hr class="divider__line space--top">
          <h2>Write To Us</h2>
          {% form 'contact' %}

            {% comment %}
              Successful message
            {% endcomment %}
            {% if form.posted_successfully? %}
              <p class="note form-success">
                {{ 'contact.form.post_success' | t }}
              </p>
            {% endif %}

            {{ form.errors | default_errors }}

            <div class="grid grid--small">
              <div class="grid__item large--one-half">
                <label for="ContactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
                <input type="text" id="ContactFormName" class="input-full" name="contact[name]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
              </div>

              <div class="grid__item large--one-half">
                <label for="ContactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
                <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
              </div>
            </div>

            <label for="ContactFormCompany" class="hidden-label">{{ 'contact.form.company' | t }}</label>
            <input type="text" id="ContactFormCompany" class="input-full" name="contact[company]" placeholder="Company Name" value="{% if form.company %}{{ form.company }}{% elsif customer %}{{ customer.company }}{% endif %}">

            <label for="ContactFormMessage" class="hidden-label">{{ 'contact.form.message' | t }}</label>
            <textarea rows="10" id="ContactFormMessage" class="input-full" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

            <input type="submit" class="btn right" value="{{ 'contact.form.send' | t }}">

          {% endform %}
        </div>
        <div class="rte rte--nomargin">
          <hr class="divider__line">
          <h2>Technical Documents for Download</h2>
          <ul class="contact__documents no-bullets grid">

            {% unless settings.contact_document_title-1 == blank %}
              <li class="grid__item large--one-third small--one-half">
                <h4>
                  <a href="{{ settings.contact_document_link-it-1 }}" class="lang__it"> {{ settings.contact_document_title-1 }}</a>
                  <a href="{{ settings.contact_document_link-en-1 }}" class="lang__en"> {{ settings.contact_document_title-1 }}</a>
                </h4>
              </li>
            {% endunless %}
            {% unless settings.contact_document_title-2 == blank %}
              <li class="grid__item large--one-third small--one-half">
                <h4>
                  <a href="{{ settings.contact_document_link-it-2 }}" class="lang__it"> {{ settings.contact_document_title-2 }}</a>
                  <a href="{{ settings.contact_document_link-en-2 }}" class="lang__en"> {{ settings.contact_document_title-2 }}</a>
                </h4>
              </li>
            {% endunless %}
            {% unless settings.contact_document_title-3 == blank %}
              <li class="grid__item large--one-third small--one-half">
                <h4>
                  <a href="{{ settings.contact_document_link-it-3 }}" class="lang__it"> {{ settings.contact_document_title-3 }}</a>
                  <a href="{{ settings.contact_document_link-en-3 }}" class="lang__en"> {{ settings.contact_document_title-3 }}</a>
                </h4>
              </li>
            {% endunless %}
            {% unless settings.contact_document_title-4 == blank %}
              <li class="grid__item large--one-third small--one-half">
                <h4>
                  <a href="{{ settings.contact_document_link-it-4 }}" class="lang__it"> {{ settings.contact_document_title-4 }}</a>
                  <a href="{{ settings.contact_document_link-en-4 }}" class="lang__en"> {{ settings.contact_document_title-4 }}</a>
                </h4>
              </li>
            {% endunless %}
            {% unless settings.contact_document_title-5 == blank %}
              <li class="grid__item large--one-third small--one-half">
                <h5>
                  <a href="{{ settings.contact_document_link-it-5 }}" class="lang__it"> {{ settings.contact_document_title-5 }}</a>
                  <a href="{{ settings.contact_document_link-en-5 }}" class="lang__en"> {{ settings.contact_document_title-5 }}</a>
                </h5>
              </li>
            {% endunless %}
            {% unless settings.contact_document_title-6 == blank %}
              <li class="grid__item large--one-third small--one-half">
                <h6>
                  <a href="{{ settings.contact_document_link-it-6 }}" class="lang__it"> {{ settings.contact_document_title-6 }}</a>
                  <a href="{{ settings.contact_document_link-en-6 }}" class="lang__en"> {{ settings.contact_document_title-6 }}</a>
                </h6>
              </li>
            {% endunless %}
          </ul>
          <!-- FOR LOOP VERSION / NOT WORKING -->
          <!-- {% for i in (1..6) %}
            {% unless settings.contact_document_title-[i] == blank %}
              <h4>{{ settings.contact_document_title-[i] }}</h4>
            {% endunless %}
            {% unless settings.contact_document_link-[i] == blank %}
              <p>{{ settings.contact_document_link-[i] }}</p>
            {% endunless %} -->

            <!-- <script type="text/javascript">
              var l = "settings.contact_document_title-{{ i }}"
              console.log(l)
            </script> -->
          <!-- {% endfor %} -->
        </div>
      </div>
    </div>

  </div>

</div>
